<div class="container">

    <nav class="p-2 m-2 border border-info">
        <button *ngIf="authService.hasRole('ADMIN')" class="btn btn-outline-info" (click)="handleNewProduct()"> New Product</button>
    </nav>

    <ng-template #errors>
        <div class="text-danger"> {{errMessage}} </div>
    </ng-template>
    <div class="card" *ngIf="products; else errors" >
        <div class="card-header"> Products List</div>
        <div class="card-body">

            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
                <div class="input-group">
                    <label class="input-group-text">Keyword: </label>
                    <input type="text" class="from-control" formControlName="keyword"/>
                    <button class="btn btn-info">
                        <i class="bi bi-search"></i>
                    </button>

                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th> <th>Name</th> <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products" >
                        <td> {{p.id}} </td>
                        <td> {{p.name}} </td>
                        <td> {{p.price}} </td>
                        <td > 
                            <i *ngIf="p.promotion==true" class="bi bi-heart-fill text-success" ></i>
                        </td>
                        <td *ngIf="authService.hasRole('ADMIN')"> 
                            <button (click)="handelSetPromotion(p)" [ngClass]="p.promotion==true ? 'btn-danger' : 'btn-success'" class="btn">
                                <span *ngIf="p.promotion==true" > Promo On  </span>
                                <span *ngIf="p.promotion==false">  Promo Off </span>
                            </button>
                        </td>
                        <td *ngIf="authService.hasRole('ADMIN')">
                            <button (click)="handelDeleteProduct(p)" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        <td *ngIf="authService.hasRole('ADMIN')">
                            <button (click)="handelEditProduct(p)" class="btn btn-success">
                                <i class="bi bi-file"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li *ngFor="let item of [].constructor(this.totalPages); let i=index">
                    <a (click)="goToPage(i)" [ngClass]="i==currentPage ? 'btn-info':' btn-online-info'" class="btn mt-1 ms-1">{{i}}</a>
                </li>
            </ul>
        </div>
        
    </div>
</div>
