<div class="container mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header"> Authentification </div>
            <div class="text-danger" *ngIf="errMessage">{{errMessage}}</div>
            <div class="card-body">
                <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
                    <div class="mb-3">
                        <label class="input-group-text">Username :  </label>
                        <input type="text" class="from-control" formControlName="username">
                    </div>  
                    <div class="mb-3">
                        <label class="input-group-text">Password :  </label>
                        <input type="password" class="from-control" formControlName="password">
                    </div> 
                    <button class="btn btn-primary" type="submit">Login</button> 
                </form>
            </div>
    
        </div>
    </div>

</div>
